<dialog class="command-palette"
        id="command-palette-dialog"
        data-controller="command-palette"
        data-action="cancel->command-palette#handleCancel click->command-palette#backdropClick"
        aria-label="Command palette"
        aria-modal="true">

  <div class="command-palette__search-row"
       data-action="input->command-palette#filter keydown->command-palette#handleKey">
    <%= helpers.inline_svg_tag "icons/search.svg", class: "command-palette__search-icon", aria: { hidden: true } %>
    <input type="search"
           placeholder="Search anything or type a command..."
           autocomplete="off"
           class="command-palette__input"
           data-command-palette-target="input"
           aria-label="Search anything or type a command"
           aria-autocomplete="list"
           aria-activedescendant="">
  </div>

  <div class="command-palette__results" role="listbox">
    <p class="command-palette__section-label">Commands</p>
    <ul class="command-palette__list">
      <% initial_commands.each_with_index do |cmd, i| %>
        <li class="command-palette__item"
            role="option"
            id="cp-item-<%= i %>"
            data-command-palette-target="item"
            data-action="click->command-palette#select mouseenter->command-palette#highlight"
            data-path="<%= cmd.path %>"
            data-keywords="<%= cmd.keywords.join(" ") %>"
            <% if cmd.post? %> data-method="post"<% end %>>
          <% if cmd.icon %>
            <span class="command-palette__item-icon" aria-hidden="true">
              <%= helpers.inline_svg_tag "icons/#{cmd.icon}.svg", class: "command-palette__icon" %>
            </span>
          <% end %>
          <span class="command-palette__item-title"><%= cmd.title %></span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="command-palette__footer">
    <div class="command-palette__footer-hints">
      <span class="command-palette__footer-hint">
        <kbd class="command-palette__kbd">↑</kbd>
        <kbd class="command-palette__kbd">↓</kbd>
        to navigate
      </span>
      <span class="command-palette__footer-hint">
        <kbd class="command-palette__kbd">↵</kbd>
        to select
      </span>
      <span class="command-palette__footer-hint">
        <kbd class="command-palette__kbd">esc</kbd>
        to close
      </span>
    </div>
  </div>
</dialog>
