<div class="<%= input_classes %>">
  <label class="input__label"><%= label %></label>
  <% if icon.present? %>
    <div class="input__control">
      <span class="input__icon"><%= icon_tag %></span>
      <%= field_tag %>
    </div>
  <% else %>
    <%= field_tag %>
  <% end %>
  <% if has_subtitle? %>
    <div class="input__subtitle"><%= subtitle %></div>
  <% end %>
</div>
