<%
  liked = if current_user && defined?(@liked_devlog_ids)
    @liked_devlog_ids.include?(likeable.id)
  else
    current_user && likeable.likes.exists?(user: current_user)
  end
%>

<div id="<%= dom_id(likeable, :like_button) %>" class="like-button"
     <% if current_user %>
       data-controller="like-button"
       data-like-button-url-value="<%= devlog_like_path(likeable) %>"
       data-like-button-liked-value="<%= liked %>"
     <% end %>>
  <% if current_user %>
    <button type="button"
            class="like-button__btn <%= 'like-button__btn--liked' if liked %>"
            data-like-button-target="btn"
            data-action="click->like-button#toggle">
      <div class="like-button__sprite <%= 'is-liked' if liked %>"
           data-like-button-target="sprite"></div>
      <span class="like-button__count" data-like-button-target="count"><%= likeable.likes_count %></span>
    </button>
  <% else %>
    <div class="like-button__btn like-button__btn--disabled">
      <div class="like-button__sprite"></div>
      <span class="like-button__count"><%= likeable.likes_count %></span>
    </div>
  <% end %>
</div>
