<section class="partners">
  <h2 class="partners__title">Supported by our <span class="partners__title--italic">partners</span></h2>

  <div class="partners__logos">
    <div class="partners__row partners__row--top">
      <%= image_tag image_url("landing/partners/nasa.png"), class: "partners__logo partners__logo--nasa", alt: "NASA", loading: "lazy" %>
      <%= image_tag image_url("landing/partners/amd.png"), class: "partners__logo partners__logo--amd", alt: "AMD", loading: "lazy" %>
      <%= image_tag image_url("landing/partners/github.png"), class: "partners__logo partners__logo--github", alt: "GitHub", loading: "lazy" %>
    </div>
    <div class="partners__row partners__row--bottom">
      <%= image_tag image_url("landing/partners/kennedy-space-center.png"), class: "partners__logo partners__logo--ksc", alt: "Kennedy Space Center", loading: "lazy" %>
      <%= image_tag image_url("landing/partners/challenger-center.png"), class: "partners__logo partners__logo--challenger", alt: "Challenger Center", loading: "lazy" %>
      <%= image_tag image_url("landing/partners/code-org.png"), class: "partners__logo partners__logo--codeorg", alt: "code.org", loading: "lazy" %>
    </div>
  </div>
</section>
